body {
  font-family: Arial, sans-serif;
  background-color: gainsboro;
}

h1 {
  text-align: center;
}

h2 {
  color: midnightblue;
  text-align: center;
}

p {
  text-align: center;
}


table {
  border: 2px solid black;
  width: 650px;
  margin: 0 auto;
}

thead {
  background-color: blue;
}

td {
  border-top: 1px solid lightblue;
}
